# Dependency directories
node_modules/
npm-debug.log
yarn-error.log

# Optional: Editor-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Optional: Environment-specific files
.env

# Optional: Build artifacts
dist/
coverage/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
