# Dependencies
node_modules/

# Build output
dist/
out-tsc/

# Test coverage
coverage/

# Logs
npm-debug.log*
yarn-error.log

# Editor
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Environment
.env
.npmrc
