altgraph==0.16.1
arrow==0.14.3
asn1crypto==0.24.0
auto-py-to-exe==2.6.5
autopep8==1.4.4
bottle==0.12.17
bottle-websocket==0.2.9
cassiopeia==4.0.4
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorama==0.4.1
colorutils==0.2.1
cryptography==2.7
cycler==0.10.0
Cython==0.29.13
datapipelines==1.0.7
decorator==4.4.0
docutils==0.15.2
Eel==0.10.4
et-xmlfile==1.0.1
Flask==1.1.1
future==0.17.1
gevent==1.4.0
gevent-eventemitter==2.1
gevent-websocket==0.10.1
greenlet==0.4.15
idna==2.8
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.10.1
Kivy==1.11.1
kivy-deps.glew==0.1.12
kivy-deps.gstreamer==0.1.17
kivy-deps.sdl2==0.1.22
Kivy-Garden==0.1.4
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.1
merakicommons==1.0.9
networkx==2.3
numpy==1.16.4
openpyxl==2.6.2
pandas==0.25.0
pefile==2019.4.18
Pillow==6.1.0
pip-tools==4.0.0
plotly==4.0.0
protobuf==3.9.0
pycodestyle==2.5.0
pycparser==2.19
Pygments==2.4.2
PyInstaller==3.5
pyparsing==2.4.1.1
pypiwin32==223
python-dateutil==2.8.0
pytz==2019.1
pywin32==224
pywin32-ctypes==0.2.0
requests==2.22.0
retrying==1.3.3
riotwatcher==2.6.0
selenium==3.141.0
six==1.12.0
steam==0.9.1
urllib3==1.25.3
vdf==3.2
virtualenv==16.6.2
webcolors==1.9.1
Werkzeug==0.15.5
whichcraft==0.6.0
xlrd==1.2.0
