name: CI

on:
  push:
    branches:
      - release/production
  pull_request:
    branches:
      - release/production

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      # - name: Lint code
      #   run: npm run lint

      - name: Run tests
        run: npm test

      - name: Build project
        run: npm run build

        # Todo add npm publish here for production releases


